<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">


  <!-- Dashboard Tab -->
  <ion-tab title="Sort" icon-off="ion-funnel" icon-on="ion-funnel" href="#/tabs4/sort">
    <ion-nav-view name="sort"></ion-nav-view>
  </ion-tab>


  <!-- Chats Tab -->
  <ion-tab title="Top Movies" icon-off="ion-ios7-pulse" icon-on="ion-ios7-pulse-strong" href="#/tabs1/top">
    <ion-nav-view name="top"></ion-nav-view>
  </ion-tab>

  <!-- Friends Tab -->
  <ion-tab title="My movies" icon-off="ion-ios7-heart-outline" icon-on="ion-ios7-heart" href="#/tabs2/mymovies" >
    <ion-nav-view name="mymovies"></ion-nav-view>
  </ion-tab>


  <!-- Account Tab -->
  <ion-tab title="Trailers" icon-off="ion-ios7-film-outline" icon-on="ion-ios7-film" href="#/tabs3/trailer">
    <ion-nav-view name="trailer"></ion-nav-view>
  </ion-tab>


</ion-tabs>
